@import url('bootstrap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Variable', sans-serif;
    background-color: #303030;
}


header {
    background-color: aliceblue;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
        max-width: 1200px;
    }


    nav {
        height: 100%;
        display: flex;
    }

    nav>a {
        text-decoration: none;
        margin-left: 1rem;
        margin-right: 1rem;
        color: black;
        font-size: smaller;
        font-weight: 600;
        height: 100%;
        display: flex;
        align-items: center;



    }

}

main {

    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        max-width: 1200px;

        h1 {
            font-size: larger;
        }

    }

}