@import url('bootstrap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Variable', sans-serif;
    background-color: #303030;
}

/* HEADER */

header .container {
    max-width: 1200px;
}

/* MAIN */

main {

    .jumbotronHead {
        max-height: 500px;
        overflow: hidden;
    }

    .jumbotronHead img {
        width: 100%;
        height: 100%;
    }

    .container {
        max-width: 1200px;
    }

    .comic-card {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 130px;
        overflow: hidden;
    }

    .comic-card .thumb {
        height: 150px;
        width: 150px;
        object-fit: cover;
        object-position: top;
    }
}

.negative-translation-50 {
    transform: translateY(-50%);
}

.comics-text {
    font-size: 7pt;
}

/* UTILITY BAR */

.utilityBar {
    background-color: #0282F9;

    .container {
        color: white;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .link {
            display: flex;
            align-items: center;
            padding: 2rem;

            img {
                width: 50px;
                margin-right: 1rem;
            }

            span {
                font-size: 8pt;
            }
        }
    }
}

/* FOOTER */

footer {
    background-image: url("./assets/img/footer-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    .container {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
    }

    .footerLink {
        color: white;
        padding: 2rem;

        ul {
            padding-left: 0;
            padding-right: 2rem;
        }

        li.title {
            color: white;
            margin-bottom: 1rem;
            font-size: large;
        }

        li {
            list-style: none;
            color: grey;
            text-align: left;
            font-size: small
        }
    }

    .footerLogo {
        position: absolute;
        right: 15%;
        overflow: hidden;
        min-width: 500px;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

/* CALL TO ACTION */

.footer-cta {
    min-height: 150px;
    display: flex;
    align-items: center;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;

        .cta-btn {
            border: 2px solid #0282F9;
            padding: 0.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            color: white;
        }

        .follow {
            align-content: center;

            img {
                margin-left: 1rem;
            }
        }
    }
}